<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style><!--

    table.goleft {
        float: left;
        width: 5%;
        height: auto;
    }

    img {
        height: auto;
        width: auto;
    }

    table.goright {
        position: absolute;
        top: 0px;
        right: 0px;
        float: right;
        width: 50%;
    }

    table.goup {
        float: top;
        text-align: center;
        width: 10%;
    }

    img.missing {
        border-color: red;
        border-style: solid;
    }

    -->

    </style>
    <script th:inline="javascript">
        var pulledCard = [[${pulledCard}]];
        var isWitch = [[${isWitch}]];
    </script>
    <script th:if="${!isMyTurn}">
        var interval = setInterval(reload, 500);

        function reload() {
            document.getElementById("reload").submit();
        }
    </script>
</head>
<body>
<div>
    <table class="goleft"> <!--the use th:each for every other player-->
        <tr>
            <td>
                <table th:each="player: ${playerCards}" class="goleft">
                    <tr>
                        <td th:text="${player.key}" style="cellpadding: 100px, 100px, 100px, 100px;">
                        <td th:each="entry: ${player.value}">
                            <img th:src="'/images/chocolate/' + ${entry.key} + '.jpg'"
                                 th:class="${entry.value.intValue == 0}? 'missing'" style="width: 500%; height: auto">
                        </td>
                    </tr>
                    <tr style="width: 500%; height: auto">
                        <td></td>
                        <td style="text-align:center; width: 500%" th:each="entry: ${player.value}"
                            th:text="${entry.value}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="goup">
        <tr th:each="pulledCard: ${pulledCards}">
            <td th:text="${pulledCard}"></td>
        </tr>
    </table>
    <div th:if="${!gameOver}">
        <table class="goright">
            <tr>
                <div th:if="${pulledCard} == null">
                    <td><img style="height: auto; width: 100%" src="/images/chocolate/cover.jpg"></td>
                </div>
                <div th:if="${pulledCard} != null">
                    <td><img style="height: auto; width: 100%" th:src="'/images/chocolate/' + ${pulledCard} + '.jpg'">
                    </td>
                </div>
                <td><img src="/images/chocolate/cover.jpg" style="height: auto; width: 100%"></td>
            </tr>
            <div th:if="${isMyTurn}">
                <tr>
                    <td>
                        <form action="/chocolate/pullCard" method="get">
                            <input type="submit" value="pullCard" style="width: 100%; height: auto"/>
                        </form>
                    </td>
                    <td>
                        <form action="/chocolate/endTurn" method="get">
                            <input type="submit" value="endTurn" style="width: 100%; height: auto"/>
                        </form>
                    </td>
                </tr>
            </div>
        </table>
    </div>
    <div th:if="${gameOver}">
        <table style="position: absolute; top: 0px; right: 0px; bottom: 50%">
            <tr>
                <td th:text="${winner}" style="font-size: 100%"></td>
            </tr>
        </table>
    </div>
</div>
<div th:if="${!isMyTurn}">
    <div th:if="${!gameOver}">
        <form id="reload" action="/chocolate" method="get"></form>
    </div>
</div>
</body>
</html>