<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wizard Game</title>
<!--    <link rel="stylesheet" href="/wizard/css/wizard.css">-->
    <script src="/js/ajax.js"></script>
    <style th:inline="text">
        [# th:each="card : ${cards}"]
        .[(${card.color})]-[(${card.sign})] {  background-image: url("/images/wizard/[(${card.color})]/[(${card.sign})].jpg"); }[/]
        .cover { background-image: url("/images/wizard/w-cover.jpg"); }
    </style>
    <style>
        .card-slot {
            background-color: #cccccc; /* Used if the image is unavailable */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
            width: 90px;
            height: 140px; /* You must set a specified height */
            float: left;
        }
        .hidden {
            /* as if the element was not there*/
            display: none;
        }
        .invisible {
            /* not visible but still part of the layout */
            visibility: hidden;
        }
        .margin {
            margin-right: 2px;
            margin-bottom: 2px;
        }
        .winner {
            color: red;
            font-weight: bold;
        }
        .onTurn {
            color: green;
            font-weight: bold;
        }
        #trump-messages-area {
            /*border: red solid 1px;*/
            /* clearfix: https://www.w3schools.com/css/css_float_clear.asp */
            overflow: auto;
            /* https://stackoverflow.com/questions/3049783/how-to-make-a-floated-div-100-height-of-its-parent */
            display: flex;
        }
        #trump {
            float: left;
        }
        #messages {
            width: 100%;
        }
        #prophecy-slot {
            margin-top: 15px;
        }
        #prophecy-result {
            margin-top: 15px;
        }

        tr.odd {
            background: #dddddd;
        }
    </style>
    <script th:inline="javascript">
        let player2index = new Map();
        let player2name = new Map();
        let myCards = [];
        let me; // userId
        let onTurn; // userId
        let prophecyTime;

        function cardToStyleClass(card) {
            let color = card.color.toLowerCase();

            let sign = card.value;
            if (card.value < 1)
                sign = "n";
            else if (card.value > 13)
                sign = "z";

            return color + "-" + sign;
        }

        function displayOnTurn(newOnTurn) {
            console.log("displayOnTurn: " + onTurn + "/" + newOnTurn);
            if (onTurn !== undefined)
                highlightPlayer(onTurn, "")
            onTurn = newOnTurn;
            highlightPlayer(onTurn, "onTurn")
            message("Na tahu je: " + player2name.get(onTurn))
        }

        function message(message) {
            let div = document.getElementById("messages-slot");
            div.innerText = message;
        }

        function highlightPlayer(playerId, className) {
            document.getElementById("name-" + player2index.get(playerId)).className = className;
        }

        function prepareProphecy(prophecies) {
            prophecyTime = true;
            document.getElementById("prophecy-result").className = "";
            prophecies.forEach(function (theProphecy) {
                onProphecyEvent(theProphecy);
            });
        }

        function onGetStateEvent(event) {
            me = event.userId;

            onNewRoundLongEvent(event.newRound);
            if (event.playedCards !== undefined)
                onCardPlayedEvent(event.playedCards);
            if (event.endOfRound !== undefined)
                onEndOfRoundEvent(event.endOfRound);
            if (event.prophecy !== undefined)
                prepareProphecy(event.prophecy);

            if (event.newRound.myCards.length === 0) {
                // in case there is no card in hands
                document.getElementById("slot-0").className = "card-slot";
            }

            prophecyTime = event.propecyTime;
        }

        function onCardClicked(index) {
            if (prophecyTime)
                alert("Je čas věštby!")
            else if (me === onTurn) {
                let slot = document.getElementById("slot-" + index);
                slot.className = "card-slot margin";
                let params = "color=" + myCards[index].color + "&value=" + myCards[index].value;
                callServer("/play-card?" + params)
            } else
                alert("Nejsi na tahu!")
        }

        function updatePlayedCards(playedCards) {
            for (let i = 0; i < playedCards.length; i++) {
                let playedCard = playedCards[i];
                let index = player2index.get(playedCard.userId);
                let element = document.getElementById("played-" + index);
                if (element.classList.contains("cover")) {
                    // change the style only for first time
                    element.classList.remove("cover");
                    element.classList.add(cardToStyleClass(playedCard.card));
                }
            }
        }

        function onCardPlayedEvent(event) {
            updatePlayedCards(event.playedCards)
            displayOnTurn(event.onTurn)
        }

        function onEndOfRoundEvent(event) {
            updatePlayedCards(event.playedCards)

            // highlight the winner
            document.getElementById("name-" + player2index.get(onTurn)).className = "";
            document.getElementById("name-" + player2index.get(event.winner.id)).className = "winner";
            let messageText = "Vítěz kola je: " + player2name.get(event.winner.id) + ". ";

            if (me === event.winner.id) {
                document.getElementById("end-round-button").className = "";
                messageText += "Ukonči kolo stiskem tlačítka."
                onTurn = event.winner.id;
            } else {
                messageText += "Počkej až vítěz kolo ukončí."
            }

            message(messageText);
        }

        function onNewRoundClicked() {
            callServer("/new-round");
        }

        function onEndRoundClicked() {
            callServer("/end-round");
        }

        function onProphecyClicked() {
            let select = document.getElementById("prophecy-select");
            let prophecy = select.options[select.selectedIndex].text;
            callServer("/prophecy?prophecy=" + prophecy);
        }

        function prepareNewRound(event) {
            onTurn = undefined;
            player2index.clear();
            player2name.clear();
            prophecyTime = false;

            // reorder players, who begins should be on top
            for (let p = 0; p < event.players.length; p++) {
                // store order of individual players
                let userId = event.players[p].id;
                player2index.set(userId, p);
                player2name.set(userId, event.players[p].name);
                let element = document.getElementById("name-" + p);
                element.innerText = event.players[p].name;
                element.classList.remove("onTurn");
                element.classList.remove("winner");
            }

            for (let i = 0; i < player2index.size; i++) {
                document.getElementById("played-" + i).className = "card-slot cover"
            }

            document.getElementById("start-new-round-button").className = "hidden";

            displayOnTurn(event.onTurn);
        }

        function onNewRoundShortEvent(event) {
            prepareNewRound(event);
        }

        function displayProphecyArea(allDone) {
            if (allDone) {
                document.getElementById("prophecy-slot").className = "hidden";
                if (me === onTurn) {
                    message("Proroctví byla vyřčena, stiskem tlačítka odstartuješ nové kolo.");
                    document.getElementById("start-new-round-button").className = '';
                } else {
                    message("Proroctví byla vyřčena, očekávej start nového kola. Startuje ho " + player2name.get(onTurn));
                }
            } else if (me === onTurn) {
                message("");
                document.getElementById("prophecy-slot").className = "";

                let select = document.getElementById("prophecy-select");
                // clear the options first
                while (select.options.length > 0) select.remove(0);
                for (let i = 0; i <= myCards.length; i++) {
                    let option = document.createElement("option");
                    option.text = i;
                    select.add(option);
                }
            } else {
                message("Právě prorokuje: " + player2name.get(onTurn));
                document.getElementById("prophecy-slot").className = "hidden";
            }
        }

        function onNewRoundLongEvent(event) {
            prepareNewRound(event);

            myCards = [];
            for (let i = 0; i < event.myCards.length; i++) {
                let card = event.myCards[i];
                let element = document.getElementById("slot-" + i);
                myCards.push(card);

                element.className = ""; // clear the list
                element.classList.add("card-slot", "margin", cardToStyleClass(card));
            }

            let trump = event.trump;
            let trumpElement = document.getElementById("trump-slot");
            trumpElement.className = "card-slot"; // reset the list
            if (trump !== undefined) {
                trumpElement.classList.add(cardToStyleClass(trump))
            }

            let ul = document.getElementById("prophecy-result-ul");
            while (ul.firstChild)
                ul.removeChild(ul.firstChild);
            document.getElementById("prophecy-result").className = "hidden";
            displayProphecyArea(false);
        }

        function onProphecyEvent(event) {
            document.getElementById("prophecy-result").className = "";
            let ul = document.getElementById("prophecy-result-ul");
            let li = document.createElement("li");
            li.appendChild(document.createTextNode(player2name.get(event.userId) + ": " + event.prophecy));
            ul.appendChild(li);
            displayOnTurn(event.onTurn);
            displayProphecyArea(event.allDone);
        }

        function onAwaitStart(event) {
            document.getElementById("prophecy-slot").className = "hidden";

            if (me !== onTurn) {
                message("Počkej až " + player2name.get(onTurn) + " začne nové kolo.")
            } else {
                document.getElementById("start-new-round-button").className = "";
                message("Začni nové kolo stiskem tlačítka.");
            }
        }

        /**
         * Request an event from the server.
         */
        function requestEvent() {
            setTimeout(callServer, 1000, "/get-event");
        }

        function onEvent(event) {
            if (event.event !== "none")
                console.log("event: " + event.event);
            switch (event.event) {
                case "error":
                    alert("Chyba: " + event.message);   // todo: update message area
                    break;
                case "none":
                    break;
                case "get-state":
                    onGetStateEvent(event);
                    break;
                case "card-played":
                    onCardPlayedEvent(event);
                    break;
                case "end-of-round":
                    onEndOfRoundEvent(event);
                    break;
                case "new-round-short":
                    onNewRoundShortEvent(event);
                    break;
                case "new-round-long":
                    onNewRoundLongEvent(event);
                    break;
                case "prophecy":
                    onProphecyEvent(event);
                    break;
                case "awaiting-start":
                    onAwaitStart(event);
                    break;
            }

            if (me !== onTurn) {
                // be notified about what others are doing
                requestEvent();
            }
        }

        // ajax: https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX/Getting_Started
        /**
         * Load the initial state of the game.
         */
        function callServer(path) {
            ajax(onEvent, "GET", "/wizard" + path);
        }
    </script>
</head>
<body onload="callServer('/get-state')">

<fieldset id="myCards">
    <legend>Moje karty v ruce</legend>
    <div th:each="slot, iter: ${slots}" th:id="'slot-' + ${slot}" class="card-slot hidden" th:data-index="${iter.index}" onclick="onCardClicked(this.getAttribute('data-index'))"></div>
</fieldset>

<div id="trump-messages-area">
<fieldset id="trump">
    <legend>Trumf</legend>
    <div id="trump-slot" class="card-slot"></div>
</fieldset>
<fieldset id="messages">
    <legend>Zprávy</legend>
    <div id="messages-slot"></div>
    <button id="start-new-round-button" type="button" onclick="onNewRoundClicked()" class="hidden">Start nového kola</button>
    <button id="end-round-button" type="button" onclick="onEndRoundClicked()" class="hidden">Konec kola</button>
    <div id="prophecy-slot" class="hidden">
        Jaké je tvoje proroctví pro toto kolo?
        <div>- počet štychů, které v tomto kole získám: <select id="prophecy-select"></select></div>
        <div><button onclick="onProphecyClicked()">Vyřkni proroctví!</button></div>
    </div>
    <div id="prophecy-result" class="hidden">
        Pro toto kolo platí následující proroctví:
        <ul id="prophecy-result-ul"></ul>
    </div>
</fieldset>
</div>

<fieldset id="gameDesk">
    <legend>Hrací stůl</legend>
    <table width="1" border="1" >
        <tr>
            <th>Hráč</th>
            <th>Zahraná karta</th>
            <th>Počet vyhraných štychů</th>
        </tr><tr th:each="player, stat: ${players}">
        <td><div th:id="'name-' + ${stat.index}">Hráč 1</td>
        <td><div th:id="'played-' + ${stat.index}" class="card-slot cover"></div></td>
        <td><div th:id="'win-' + ${stat.index}"></div></td>
    </tr>
    </table>
</fieldset>

<fieldset id="score">
    <legend>Skóre</legend>
    <table width="1px" border="solid">
        <tr>
            <td>&nbsp;</td>
            <th th:each="player: ${players}" colspan="2" th:text="${player.name}">Hráč</th>
        </tr><tr th:each="round, rstat: ${slots}" th:class="${rstat.odd}? 'odd'">
            <td th:text="${round + 1}"></td>
        <div th:each="player, pstat: ${players}">
            <td th:id="'score-' + ${player.id} + '-' + ${round}"></td>
            <td th:id="'prophecy-' + ${player.id} + '-' + ${round}"></td>
        </div>
        </tr>
    </table>
</fieldset>

</body>
</html>
