<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
    <title>Waiting room</title>
    <script th:if="${session.user == room.owner}">
        var interval = setInterval(reload, 20000);
        function reload() {
            document.getElementById("reload").submit();
        }
     </script>
</head>
<body>
<div th:text="'Místnost založil: ' + ${room.owner.name}">Room owner: John</div>
<div>
    Kapacita místnosti:
    <ul>
        <li th:text="'Min: ' + ${room.game.minPlayers}">min: 1</li>
        <li th:text="'Max: ' + ${room.game.maxPlayers}">max: 10</li>
        <li th:text="'Aktuálně: ' + ${#sets.size(room.players)}">current: 5</li>
    </ul>
</div>
<div>
    Hráči:
    <ul>
        <li th:each="player: ${room.players}" th:text="${player.name}">John</li>
    </ul>
</div>
<div>
    Akce:
    <ul>
        <li><a href="/room/reload" th:href="@{/room/wait}">načíst znovu</a></li>
        <li th:if="${session.user == room.owner and room.game.minPlayers <= #sets.size(room.players)}"><a href="/room/start" th:href="@{/room/start}">spustit</a></li>
        <li th:if="${session.user == room.owner}"><a href="/room/end" th:href="@{/room/end}">zavřít místnost</a></li>
        <li th:unless="${session.user == room.owner}"><a href="/room/leave" th:href="@{/room/leave}">odejít</a></li>
    </ul>
</div>
<div th:if="${session.user == room.owner}">
    <form id="reload" action="/room/wait" method="get"></form>
</div>
</body>
</html>
