<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
    <title>Rooms</title>
</head>
<body>
<table border="1">
    <tr><th>Hry</th><th>Otevřené místnosti</th><th>Hra probíhá</th></tr>
    <tr><td>
        <div th:each="game: ${games}">
        <a href="create.html" th:href="@{/room/create(game=${game.id})}" th:text="${game.name}">create a game</a><br>
        </div>
    </td><td>
        <div th:each="room: ${roomManager.availableRooms}">
        <a href="join.html" th:href="@{/room/join(room=${room.id})}" th:text="${room.game.name} + ' (Vytvořeno uživatelem ' + ${room.owner.name} + ')'">join a game</a><br>
        </div>
    </td><td>
        <div th:each="room: ${roomManager.activeRooms}">
            <a href="attach.html" th:href="@{/room/attach(room=${room.id})}" th:text="${room.game.name}">attach a game</a>
            (<span th:each="player, status: ${room.players}" th:text="${player.name} + (${status.last}? '' : ', ')">player</span>)
            <br>
        </div>
    </td></tr></table>
</body>
</html>
